$nav-font: #fff;
$nav-font-active: #fff;
$header-bg: #ffd500;
$home-name: #8b4384;
$content-bg: linear-gradient(45deg, #fbc28d, #f36868, #834086);

$home-content-font: #ff76ca;
$home-content-bg: rgba(1, 1, 1, 0.8);
$home-desc-font: rgba(255, 255, 255, 0.8) !important ;
.dark {
  background: $content-bg;
  transition: background 0.8s ease-in-out;
  .header {
    background: $header-bg;
    box-shadow: 0 3px 12px 2px $header-bg;
    transition: all 0.8s ease-in-out;
  }
  .header .nav a {
    color: $nav-font;
    transition: all 0.5s ease-in-out;
  }
  .nav-active {
    color: $nav-font-active;
    background-color: $home-name;
  }

  .header .nav a:hover:not(:last-child) {
    color: $nav-font;
    background-color: $home-name;
  }
  .font-logo {
    // background-color: $home-name;
    // box-shadow: 0 3px 3px 1px $home-name;
  }

  /**
  home区域
  */

  .home-content {
    color: $home-content-font;
    transition: all ease 1s;
    .item-wrap {
      background-color: $home-content-bg;
      transition: all ease 1s;
      .desc {
        color: $home-desc-font;
        transition: all ease 1s;
      }
    }
    .content-right {
      .user-info,
      .user-link,
      .user-notice,
      .website-exist,
      .article-label {
        background-color: $home-content-bg;
        transition: all ease 1s;
        .label-item-active {
          background-color: $home-name !important;
          color: #fff !important;
        }
        .label-item:hover {
          background-color: $home-name;
          color: #fff;
        }
      }
      .notice-bottom {
        color: $home-desc-font;
        transition: all ease 1s;
      }
    }
    .g-page {
      li {
        &:hover {
          color: #fff;
          background-color: $home-name;
          opacity: 0.7;
        }
      }
      .activePage {
        background-color: $home-name !important;
        color: #fff;
      }
    }
  }

  /**
  Detail区域
  */

  .detail-title {
    color: #8b4384;
  }
  .detail-left {
    background-color: rgba(1, 1, 1, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .detail-right {
    background-color: rgba(1, 1, 1, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
