$nav-font: #834086;
$nav-font-active: #fff;
$header-bg: #ffd500;
$home-name: #2fce96;
$content-bg: linear-gradient(45deg, #fbeb8d, #f36868, #834086);

.dark {
  background: $content-bg;
  transition: background 0.8s ease-in-out;
  .header {
    background: $header-bg;
    box-shadow: 0 3px 12px 2px $header-bg;
    transition: all 0.8s ease-in-out;
  }
  .header .nav a {
    color: $nav-font;
    transition: all 0.5s ease-in-out;
  }
  .nav-active {
    color: $nav-font-active;
    background-color: $home-name;
  }

  .header .nav a:hover:not(:last-child) {
    color: $nav-font;
    background-color: $home-name;
  }
  .font-logo {
    background-color: $home-name;
    // box-shadow: 0 3px 3px 1px $home-name;
  }
}
