$nav-font: #fff;
$header-bg: #63a79c;
$content-bg: linear-gradient(45deg, #984cb1, #2e94b1, #59cfa1);

.light {
  background: $content-bg;
  .header {
    background: $header-bg;
    transition: background 0.8s ease-in-out;
    box-shadow: 0 1px 12px 2px $header-bg;
  }
  .header .nav a {
    color: $nav-font;
    transition: color 0.5s ease-in-out;
  }
}
