@font-face {
  font-family: MyF;
  src: url(../assets/font-family/jimfont.otf);
}

@function px2vw($px) {
  @return $px / 1920 * 100 + vw;
}

@function px2vh($px) {
  @return $px / 1080 * 100 + vh;
}

.section {
  transition: background ease 0.7s;
  .down-arrow {
    position: absolute;
    bottom: 100px;
    width: 70px;
    animation: arrow-jump 1s infinite;
  }
}

@keyframes arrow-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.article-content {
  width: 55vw;
  height: calc(100vh - 150px);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #fff;
}

.detail-title {
  text-align: center;
  height: 300px;
  line-height: 300px;
  color: #fff;
  font-size: 24px;
}

.detail-content {
  display: flex;
  align-items: flex-start;
  width: 55vw;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  .detail-left {
    flex: 75%;
    min-height: 600px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
  }
  .detail-right {
    flex: 25%;
    position: sticky;
    padding: 10px;
    top: 150px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    .label-top {
      display: flex;
      border-bottom: 1px solid #ccc;
      align-items: center;
    }
    .label-item {
      height: 50px;
      line-height: 50px;
      text-align: center;
      overflow: hidden;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}

.active-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.home-footer {
  margin-bottom: px2vh(70);
  height: 100px;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
}

.home-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 10px;
  .font-logo {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 80px;
    padding: 20px 40px;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-family: MyF;
    border-radius: 60px;
    background-size: 400%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(rgba(255, 255, 255, 0.31), rgba(255, 255, 255, 0.1));
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: font-size ease 0.7s;
    animation: text-show 2s steps(10) forwards;
    @keyframes text-show {
      0% {
        width: 0%;
      }
      100% {
        width: 600px;
      }
    }
  }
}

.font-logo:hover {
  overflow: visible;
  background-color: #fff;
  font-size: 100px;
  animation: flowing 8s linear infinite alternate; /*动画: 名称 时间 线性 循环 播放完回退播放*/
}
.font-logo:hover .section {
  background-color: #111; /*动画: 名称 时间 线性 循环 播放完回退播放*/
}
@keyframes flowing {
  0% {
    background-position: 0%; /*修改背景定位，实现渐变色炫光*/
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.font-logo::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  border-radius: 40px;
  background-size: 400%;
  filter: blur(20px);
  opacity: 0;
  transition: 1s;
}

.font-logo:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: flowing 8s linear infinite;
}

.logo-bottom {
  font-size: 30px;
  font-family: MyF;
  text-decoration: underline;
}

.home-content {
  display: flex;
  width: 1100px;
  margin: 40px auto;
  margin-bottom: 150px;
  border-radius: 10px;
  .content-left {
    flex: 72%;
    height: 100%;
  }
  .item-wrap {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 160px;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    .item-left {
      width: 30%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
      }
    }
    .item-right {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      .title {
        font-weight: bolder;
        font-size: 22px;
      }
      .desc {
        color: #666;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 控制最多显示的行数 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
      }
    }
  }
  .item-wrap:hover {
    transform: scale(1.025);
  }

  .content-right {
    flex: 28%;
    height: 100%;
    margin-left: 40px;

    .user-info {
      display: flex;
      width: 100%;
      height: 280px;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 20px;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      .info-top {
        flex: 50%;
        margin-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 60px;
          border: 1px solid #eee;
          box-shadow: 1px 1px 1px 1px #eee;
          transition: transform 0.5s ease-in-out;
        }
        .img-rotated {
          animation: img-rotated ease 0.6s;
        }
        @keyframes img-rotated {
          0% {
            transform: rotate(0deg) scale(1);
          }
          50% {
            transform: rotate(360deg) scale(1.2);
          }
          100% {
            transform: rotate(720deg) scale(1);
          }
        }
      }
      .info-mid {
        flex: 20%;
        margin-top: 10px;
        font-weight: bold;
      }
      .info-bottom {
        flex: 40%;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        .bottom-item {
          text-align: center;
          padding: 10px;
          div:nth-child(1) {
            margin-bottom: 10px;
          }
        }
      }
    }
    .user-link {
      transition: transform 0.3s ease-in-out;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 80px;
      margin-top: 15px;
      border-radius: 20px;
      background-color: #fff;
      cursor: pointer;
    }
    .user-notice {
      transition: transform 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 200px;
      background-color: #fff;
      border-radius: 15px;
      margin-top: 15px;
      font-weight: bold;
      .notice-top {
        display: flex;
        align-items: center;
        flex: 25%;
        padding: 0 20px;
        justify-content: space-between;
        border-bottom: 2px solid #ccc;
        div {
          display: flex;
          align-items: center;
        }
      }
      .notice-bottom {
        display: flex;
        flex: 75%;
        flex-wrap: wrap;
        width: 250px;
        padding: 20px;
        font-weight: 500;
        color: #707070;
        span {
          display: block;
          width: 250px;
        }
      }
    }
    .article-label {
      transition: transform 0.3s ease-in-out;
      width: 100%;
      display: flex;
      margin-top: 15px;
      flex-direction: column;
      background-color: #fff;
      border-radius: 20px;
      .label-top {
        height: 40px;
        display: flex;
        line-height: 40px;
        align-items: center;
        border-bottom: 2px solid #ccc;
        font-weight: bold;
      }
      .label-bottom {
        .label-item {
          background-color: #ddd;
          width: 90%;
          margin: 0 auto;
          margin-top: 10px;
          border-radius: 5px;
          padding: 5px;
          padding-left: 10px;
          cursor: pointer;
        }
        .label-item-active {
          background-color: #c42a6a;
          color: #fff;
        }
        .label-item:hover {
          background-color: #c42a6a;
          color: #fff;
        }
        div:last-child {
          margin-bottom: 20px;
        }
      }
    }
    .website-exist {
      transition: transform 0.3s ease-in-out;
      display: inline-block;
      width: 100%;
      height: 140px;
      line-height: 60px;
      text-align: center;
      border-radius: 20px;
      margin-top: 20px;
      font-size: 18px;

      span {
        font-size: 30px;
        vertical-align: mid;
      }
    }
    .user-info:hover,
    .user-link:hover,
    .user-notice:hover,
    .article-label:hover,
    .website-exist:hover {
      transform: scale(1.045);
    }
  }
  .back-top {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 1650px;
    right: 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 1px 1px 1px 1px #ccc;
    cursor: pointer;
  }
}

/**
* Login
*/

.login-name {
  color: #c42a6a;
  font-weight: bolder;
}

.login-container {
  position: relative;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
  color: black;
  z-index: 999;
  animation: moveIn 0.3s ease-in-out;
  .login-span {
    display: inline-block;
    font-size: 18px;
    margin: 10px 10px 10px 0;
  }
  .login-bottom {
    display: flex;
    justify-content: space-around;
  }
  .login-close,
  .login-confirm {
    display: inline-block;
    width: 60px;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #38c58d;
    border-radius: 5px;
  }
  .login-register {
    display: flex;
    justify-content: right;
    text-decoration: underline;
    font-size: 16px;
  }
  .login-close {
    background-color: #c42a6b;
  }
  .login-upload {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 16px;
  }
}
.register-content {
  font-size: 16px;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    top: 0;
    left: 65%;
    padding: 0;
  }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    padding: 30px;
  }
}
.login-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-btn-primary {
  background-color: #c42a6a;
}
:where(.css-dev-only-do-not-override-2i2tap).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #c42a6a;
}
