@function px2vw($px) {
  @return $px / 1920 * 100 + vw;
}

@function px2vh($px) {
  @return $px / 1080 * 100 + vh;
}

.app {
  height: px2vh(1080);
  .header {
    display: flex;
    height: px2vh(70);
    position: sticky;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    z-index: 999 !important;
    .logo {
      font-size: 20px;
      font-weight: bolder;
      margin-left: 20px;
      cursor: pointer;
      background: linear-gradient(
        90deg,
        #d16ba5,
        #86a8e7,
        #5ffbf1,
        #ffeb3b,
        #ff0000,
        #4eff00,
        #4b00f9,
        #ffeb3b
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 1000% 1000%;
      animation: rainbow 10s ease infinite;
    }
    @keyframes rainbow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .nav {
      position: relative;
      text-decoration: none;
      display: flex;
      width: px2vw(600);
      font-size: 22px;
      justify-content: space-between;
      cursor: pointer;
      a {
        padding: 5px 20px;
        border-radius: 10px;
      }
      .login-img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
      }
    }
    .search {
      margin-right: 40px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .main {
  }
  .footer {
  }
}
